<div class="ui equal width padded grid">
  <div class="stretched row">
    <div class="column">
      <div class="ui segment">
        <h2 class="ui header">
          <i class="balance scale icon"></i>
          <div class="content">
            Now estimating...
            <div class="sub header">Check below for more details</div>
          </div>
        </h2>
        <div class="ui fluid card">
          <div class="content">
            <div class="header">This is a test title of a jira ticket</div>
          </div>
          <div class="content">
            <h4 class="ui sub header">Description</h4>
            <div class="ui small feed">
              <div class="event">
                <div class="content">
                  <div class="summary">
                    Elliot Fu added Jenny Hess to the project
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="four wide column">
      <div class="ui segment">
        <h2>Story point</h2>
          <div class="ui fluid vertical huge icon menu">
            <a class="item">
              1
            </a>
            <a class="item">
              2
            </a>
            <a class="item">
              3
            </a>
            <a class="item">
              5
            </a>
            <a class="item">
              8
            </a>
          </div>
      </div>
    </div>
  </div>
</div>

